<div th:fragment="list_all_fragment">
  <table class="calendar-admin-table" aria-label="캘린더 목록">
    <colgroup>
      <col style='width: 5%;' />
      <col style='width: 15%;' />
      <col style='width: 7%;' />
      <col style='width: 25%;' />
      <col style='width: 7%;' />
      <col style='width: 10%;' />
      <col style='width: 6%;' />
      <col style='width: 10%;' />
    </colgroup>
    <thead>
      <tr>
        <th>순서</th>
        <th>출력 날짜</th>
        <th>레이블</th>
        <th>제목</th>
        <th>출력순서</th>
        <th>등록일</th>
        <th>조회수</th>
        <th>관리</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="calendarVO, status : ${list}">
        <td th:text="${status.index + 1}"></td>
        <td>
          <a th:href="@{|/calendar/read/${calendarVO.calendarno}|}" th:text="${calendarVO.labeldate}"></a>
        </td>
        <td>
          <a th:href="@{|/calendar/read/${calendarVO.calendarno}|}" th:text="${calendarVO.label}"></a>
        </td>
        <td>
          <a th:href="@{|/calendar/read/${calendarVO.calendarno}|}"
             th:text="${#strings.length(calendarVO.title) > 20} ? ${calendarVO.title.substring(0, 20)} + '...' : ${calendarVO.title}">
          </a>
        </td>
        <td th:text="${calendarVO.seqno}"></td>
        <td th:text="${calendarVO.regdate.substring(0, 10)}"></td>
        <td th:text="${calendarVO.cnt}"></td>
        <td>
          <a th:href="@{|/calendar/update_seqno_forward/${calendarVO.calendarno}|}">
            <img src="/calendar/images/decrease.png" class="icon" title="우선순위 높임" alt="↑">
          </a>
          <a th:href="@{|/calendar/update_seqno_backward/${calendarVO.calendarno}|}">
            <img src="/calendar/images/increase.png" class="icon" title="우선순위 낮춤" alt="↓">
          </a>
          <a th:href="@{|/calendar/update?calendarno=${calendarVO.calendarno}|}">
            <img src="/calendar/images/update.png" class="icon" title="수정" alt="수정">
          </a>
          <a th:href="@{|/calendar/delete?calendarno=${calendarVO.calendarno}|}">
            <img src="/calendar/images/delete.png" class="icon" title="삭제" alt="삭제">
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- ✅ 페이징 영역 -->
  <div th:utext="${paging}"></div>
</div>
