<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">일정 > 알림</div>

  <aside class="aside_right">
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>

  <div class="menu_line"></div>

  <div class="message">
    <fieldset class="fieldset_basic">
      <ul>

        <li th:if="${msg != null}" class="li_none">
          <div>
            <span class="span_success" th:text="${msg}"></span><br>
            요청하신 일정은 더 이상 존재하지 않습니다.
          </div>
        </li>


        <li th:switch="${code}" class="li_none">
          <div th:case="create_success">
            <span class="span_success">일정을 등록했습니다.</span><br>
            등록된 일정 제목: <span th:text="${title}"></span>
          </div>
          <div th:case="create_fail">
            <span class="span_success">일정 등록에 실패했습니다.</span><br>
            등록 실패된 일정: <span th:text="${title}"></span>
          </div>
          <div th:case="update_success">
            <span class="span_success">수정을 완료 했습니다.</span><br>
            장르: <span th:text="${genre}"></span><br>
            카테고리: <span th:text="${name}"></span>
          </div>
          <div th:case="update_fail">
            <span class="span_success">수정에 실패했습니다.</span><br>
            수정 실패된 카테고리: <span th:text="${name}"></span>
          </div>
          <div th:case="delete_success">
            <span class="span_success">삭제를 완료 했습니다.</span><br>
            장르: <span th:text="${genre}"></span><br>
            카테고리: <span th:text="${name}"></span>
          </div>
          <div th:case="delete_fail">
            <span class="span_success">삭제에 실패했습니다.</span><br>
            삭제 실패된 카테고리: <span th:text="${name}"></span>
          </div>
        </li>
        <li class="li_none">
          <div th:if="${cnt == 0}">
            <button type="button" onclick="history.back()" class="btn btn-secondary btn-sm">다시 시도</button>
          </div>
          <div th:if="${cnt != 0}">
            <button type="button" onclick="location.href='./list_search'" class="btn btn-secondary btn-sm">전체
              목록</button>
            </button>
        </li>
      </ul>
    </fieldset>
  </div>
</div>

</html>