<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<th:block layout:fragment="styles">
  <link rel="stylesheet" href="/css/calendar_admin.css">
</th:block>
<div layout:fragment="content">

  <div class="container_box">

  <div class='title_line'>
    일정 수정
  </div>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' action='./update'>
    <input type="hidden" name="calendarno" th:value="${calendarVO.calendarno }">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    
    <div class="form-group">
      <label>출력할 날짜</label>
      <input type="date" name="labeldate" th:value="${calendarVO.labeldate}" required class="form-control" style="width: 100%;">
    </div>
    
    <div class="form-group">
      <label>달력에 출력될 레이블</label>
      <input type="text" name="label" th:value="${calendarVO.label}" required class="form-control" style="width: 100%;">
    </div>
    
    <div class="form-group">
      <label>제목</label>
      <input type="text" name="title" th:value="${calendarVO.title}" required class="form-control" style="width: 100%;">
    </div>
    
    <div class="form-group">
      <label>글 내용</label>
      <textarea name="content" required class="form-control" rows="12" style="width: 100%;" th:text="${calendarVO.content}"></textarea>
    </div>
    
    <div class="form-group">
      <label>출력 순서</label>
      <input type="number" name="seqno" th:value="${calendarVO.seqno}" min="1" step="1" class="form-control" style="width: 50%;">
    </div>

    
    <br>

    <div style="text-align: center;">
      <button type="submit" class="btn btn-secondary btn-sm">저장</button>
      <button type="button" th:attr="onclick=|location.href='./list_search'|" class="btn btn-secondary btn-sm">취소(목록)</button>
    </div>
  
  </form>

</div>

