<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">

  <div class='title_line'>전체 글 목록</div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a href='/post/create'>등록</a>
  </aside>

  <div class='menu_line'></div>

  <!-- ✅ 중분류 버튼 출력 -->
  <div class="sub-speciesno-nav" style="text-align: center; margin-top: 15px;">
    <a th:each="species : ${speciesList}" th:href="@{/post/list(speciesno=${species.speciesno})}"
      th:text="'🐾 ' + ${species.sname}" class="btn btn-outline-dark btn-sm">중분류</a>
    <a th:href="@{/post/list_by_grp(grp=${grp})}" class="btn btn-outline-dark btn-sm">전체 보기</a>
  </div>


  <!-- ✅ 검색 폼 -->
  <form th:action="@{/post/list_by_grp}" method="get">
    <input type="hidden" name="grp" th:value="${grp}" />
    <input type="text" name="word" placeholder="검색어 입력" />
    <button type="submit">검색</button>
  </form>


  <!-- ✅ 글 목록 -->
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;' />
      <col style='width: 30%;' />
      <col style='width: 15%;' />
      <col style='width: 15%;' />
      <col style='width: 15%;' />
      <col style='width: 15%;' />
    </colgroup>
    <thead>
      <tr>
        <th class='th_bs'>번호</th>
        <th class='th_bs'>제목</th>
        <th class='th_bs'>작성자</th>
        <th class='th_bs'>등록일</th>
        <th class='th_bs'>조회수</th>
        <th class='th_bs'>추천수</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="postVO, iter : ${list}" th:onclick="|location.href='/post/read?postno=${postVO.postno}'|"
        style="cursor: pointer;">
        <td th:text="${startNum - iter.index}" class="td_basic"></td>
        <td class='td_left'>
          <span th:text="${postVO.title}" style="font-weight: bold;"></span><br>
          <span th:if="${postVO.content.length() > 60}" th:text="|${postVO.content.substring(0, 60)}...|"></span>
          <span th:if="${postVO.content.length() <= 60}" th:text="${postVO.content}"></span>
        </td>
        <td th:text="${postVO.nickname}">닉네임</td>
        <td th:text="${postVO.pdate}">날짜</td>
        <td th:text="${postVO.cnt}">0</td>
        <td th:text="${postVO.recom}">0</td>
      </tr>
    </tbody>
  </table>

  <div class='bottom_menu'>
    <button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
  </div>

</div>

</html>