<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="styles">
  <link rel="stylesheet" href="/css/users_admin.css">
</th:block>
<div layout:fragment="content">
  <!-- ✅ 흰색 컨테이너 박스 추가 -->
  <div class="container_box">
  <div class="title_line">🔐 비밀번호 찾기</div>

  <form th:action="@{/users/send_code}" method="post" class="form">
    <label for="email">이메일</label><br>
    <input type="email" name="email" required><br><br>

    <label for="tel">전화번호</label><br>
    <input type="text" name="tel" placeholder="" required><br><br>

    <button type="submit" class ="navbar-btn">인증번호 받기</button>
  </form>

  <p th:text="${msg}" style="color: red;"></p>

</div>
</html>
