<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
  <script>
    window.onload = () => {
      document.querySelector('#usersname').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('tel').focus();
        }
      });
      
      document.querySelector('#tel').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_DaumPostcode').focus();
        }
      }); 
      
      document.querySelector('#address2').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_send').focus();
        }
      }); 
      
    }
    
    function send() { // 회원 가입 처리
      let usersname = document.getElementById('usersname');
      let usersname_msg = document.getElementById('usersname_msg');
  
      if (usersname.value.length == 0) {
        usersname_msg.innerHTML= '이름 입력은 필수입니다.';
        usersname_msg.classList.add('span_warning');    // class 적용
        usersname.focus();
  
        return false;  // 회원 가입 진행 중지
      }
  
      document.getElementById('frm').submit(); // required="required" 작동 안됨.
    }    
  </script>
<div class="container_box">
  <div class="title_line">회원 정보 조회 및 수정(*: 필수) > <span th:text="@{|${usersVO.usersname} (${usersVO.email})|}"></span></div>
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span> 
    <a href='./create'>회원 가입</a>
    <span class='menu_divide' >│</span> 
    <a href='./list_search'>목록</a>
  </aside> 

  <div class='menu_line'></div>
  
  <input type="hidden" name="role" th:value="${usersVO.role}">

  <div style="width: 60%; margin: 0px auto ">
    <form name="frm" id="frm" th:object="${usersVO}" method="post" action="/users/update">
      <input type="hidden" name="usersno" th:value="${usersVO.usersno}">

      <div class="form-group">
        <label for="usersname">성명*</label>
        <input type='text' name='usersname' id='usersname' th:value='${usersVO.usersname}' required="required" 
                   placeholder="성명" class="form-control form-control-sm" style="width: 30%;">
        <span id='usersname_msg'></span>
      </div>   
  
      <div class="form-group">
        <label for="tel">전화 번호</label>
        <input type='text' name='tel' id='tel' th:value='${usersVO.tel}' required="required" 
                  placeholder="전화번호" class="form-control form-control-sm" style="width: 30%;">
        예) 010-0000-0000
      </div>
      
      <div class="form-group"> 
        <label for="zipcode">우편 번호</label>
        <input type='text' name='zipcode' id='zipcode' th:value='${usersVO.zipcode}' placeholder="우편번호"
                  class="form-control form-control-sm" style="width: 30%;">
        <button type="button" id="btn_DaumPostcode" onclick="DaumPostcode()" 
                  class="btn btn-primary btn-sm" style="margin-top: 4px;">우편번호 찾기</button>
      </div>  
  
      <div class="form-group">
        <label for="address1" style="width: 100%;">주소</label>
        <input type='text' name='address1' id='address1' th:value='${usersVO.address1}' placeholder="주소"
                   class="form-control form-control-sm">
      </div>   
  
      <div class="form-group">
        <label for="address2" style="width: 100%;">상세 주소</label>
        <input type='text' name='address2' id='address2' th:value='${usersVO.address2}' placeholder="상세 주소"
                  class="form-control form-control-sm">
      </div>   

<!-- ------------------------------ DAUM 우편번호 API 시작 ------------------------------ -->
    <div>
<div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap');

    function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function DaumPostcode() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function(data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                /*
                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample3_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample3_extraAddress").value = '';
                }
                */

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('zipcode').value = data.zonecode; // 우편번호
                document.getElementById("address1").value = addr;  // 주소

                document.getElementById("address2").innerHTML=""; // 상세 주소 지우기
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("address2").focus();  // 상세 주소로 포커스 이동

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize : function(size) {
                element_wrap.style.height = size.height+'px';
            },
            width : '100%',
            height : '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }
</script>

    </div>
<!-- ------------------------------ DAUM 우편번호 API 종료 ------------------------------ -->

      <div class="content_body_bottom" style="text-align:center;">
        <button type="button" onclick="send();" class="btn btn-secondary btn-sm">저장</button>
        <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
      </div>


    </form>
  </div>
</div>
</div>
</html>

